.title{
    width: 800px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.mony{
    width: 800px;
}

.key{
    justify-content: flex-end;
    margin-left: 550px;
    margin-top: 20px;
    width: 250px;
}